  <div id= "products" name="products">
    <ul class="produl" id="produl">
      <% @products.each do |product| %>
      <li class="prodli" id="prodli">
        <%#= image_tag(product.image.url, class: 'prodli-img') %>
        <%= image_tag "pshake.png", class: "prodli-img" %>
          <h3><%= product.name %></h3>
      <p><%= product.description %></p>
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= form_for :line_item, url: product_line_items_path(product) do |f| %>
      <p class= "qty"> Quantity </p><%= f.text_field 'quantity' %> 
      <%= f.select(:size, options_for_select(['4/0', '6/0', '8/0'])) %>
      <%= f.select(:color, options_for_select(['Blood Orange', 'Juicy Magenta', 'Bronson Brown'])) %>
      <%= f.submit 'Add To Cart !' %>
      <% end %>
      <% end %>
      </li>
    </ul>

    <div class="container" id="custer">
      <h1><a href="mailto:rudy@hiddenhookflies.com?Subject=Custom Inquiry" target="_top" style="color:black;"> custom flies </a></h1>
    <p>Whatever your waters are calling for, Rudy can tie it. <a href="mailto:rudy@hiddenhookflies.com?Subject=Custom Inquiry" target="_top" style="color:black;">Click here</a> for custom orders.</p>
  </div>

  </div>
