<ul class="products" id="products">
<% @products.each do |product| %>
<li>
<%= image_tag(product.image.url, class: 'prod-img') %>
<h2><%= product.name %></h2>
<p><%= product.description %></p>
<p>$<%= product.price %></p>
<p>
  <a class="btn btn-primary" data-toggle="modal" data-target="#myModal<%=product.id%>">
    I Want It Nah</a>
</p>
<% end %>
</li>
</ul>
